body {
    padding-left: 5em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;
}

div#main{
    max-width:90%
}

#svg_map{
    margin-left:400px;
}

header{
    background-color: #FF9933;
    width:100%
}
footer{
    background-color: #138808;
    width:100%
}

#div_scatterplot_tmp{
    position:absolute;
    y:300px;
}


.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.container {
    vertical-align:top;
    padding: 10px;
    border: 0px solid black;
    text-align: center;
    font-size: large;
    max-width:initial;
    display:table-cell
}

.container vertBar{
    min-width:30%
}

.container map{
    min-width:70%
}

#indicator-list {
    text-align: right;
    font-size: medium;
    color:#000;
}

#indicator-list .active{
    text-align: right;
    font-size: medium;
    color:purple;
    font-weight:bold;
}

#indicator-list p {
    padding:0px;
    margin:0px;
}

.biplot_indicator.active {
    stroke: purple;
    fill: purple;
    marker-end: url(#arrow-active);
}

div.tooltip {
    background-color:#AADDDD;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.95;
}

div.tooltip h3{
    font-size: 1em;
    padding:0px;
    margin:0px;
}

div.tooltip p{
    font-size: 0.8em;
    padding:0px;
    margin:0px;
}


.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.vertComp_label{
    dominant-baseline: hanging;
}

div.tooltip {
    background-color:#AADDDD;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.95;
}

div.tooltip h3{
    font-size: 1em;
    padding:0px;
    margin:5px;
}

div.tooltip p{
    font-size: 0.8em;
    padding:0px;
    margin:5px;
}

.covLineChart text{
    font-size: 0.8em;
    padding:0px;
    margin:0px;
}